@font-face {
  font-family: 'comic neue';
  src: url('Comic_Font/ComicNeue-Bold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  background-color: #071820;

  overflow-y: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-content,
.site_footer,
.site-content,
.header_site body {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
  height: 88%;
}

.site-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*myDialog*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0;
  padding-inline: 10px;
}

.pixabay_logo {
  width: 120px;
  height: auto;

  :hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.header_close {
  border-color: transparent;
  background-color: transparent;
  font-size: 24px;
}

h2 {
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 24px;
}

h3 {
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 24px;
}

.dialogImage {
  border-radius: 25px;
  width: 1000px;
  height: 720px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

dialog {
  position: fixed;
  border-radius: 25px;
  background-color: transparent;
  border: none;
  margin: auto;
}

dialog::backdrop {
  background-color: #0a222c;
  opacity: 0.9;
}

dialog p {
  font-family: 'comic neue', sans-serif;
  font-size: 24px;
  background: linear-gradient(to right,
      rgb(0, 229, 61),
      yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  background: linear-gradient(to left,
      rgb(0, 229, 61),
      yellow,
      blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:focus {
  outline-offset: 0;
}

footer button {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 54px;
  background: linear-gradient(to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dialogFoot {
  box-shadow: none;
  display: flex;
  align-items: center;
}

/*Site*/
@media (min-width:1450px) {
  .dialogImage {
    width: 1560px;
    height: 920px;
  }

}

@media (max-width:1440px) {
  .page-content {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 10px;
    height: 80%;
  }

  h1.mypic {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .site-content {
    padding-top: unset;
    display: contents;
  }

  .dialogImage {
    width: 1000px;
    height: 660px;
  }
}

@media (max-width:1125px) {
  .page-content {

    height: 100%;
  }

  h1.mypic {
    font-size: 64px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .dialogImage {
    width: 780px;
    height: 580px;
  }
}

@media (max-width:910px) {
  .dialogImage {
    width: 600px;
    height: 450px;
  }

  h1.mypic {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .image_grid img {
    width: 150px;
    height: 150px;
  }

  .image_grid {
    padding-right: 20px;
    padding-left: 20px;
    gap: 25px;
  }

  .page-content {
    margin-bottom: 12px;
    height: unset;
  }
}

@media (max-width:670px) {
  .page-content {
    margin-top: 24px;
    height: unset;
  }

  h1.mypic {
    font-size: 42px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
  }

  .dialogImage {
    width: 420px;
    height: 350px;
  }

  .site-content {
    /* margin-top: 80px; */
    padding: 0;
  }

  .image_grid img {
    width: 124px;
    height: 124px;
  }

  .image_grid {
    padding-left: unset;
    padding-right: unset;
    gap: 8px;
  }
}

@media (max-width:490px) {
  dialog p {
    font-size: 20px;
  }

  .page-content {
    margin-top: 32px;
    height: unset;
  }

  .dialogImage {
    width: 350px;
    height: 350px;
  }

  h1.mypic {
    font-size: 32px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 16px;
  }

  img.LOGO {
    margin: unset;
  }

  .header_site {
    padding-left: 0;
    height: 90px;
  }

  .image_grid {
    padding-left: unset;
    padding-right: unset;
    gap: 3px;
    padding-bottom: 10px;
  }

  footer button {
    font-size: 40px;
  }
}

@media (max-width:415px) {
  .page-content {
    margin-top: 10px;
    height: unset;
  }

  .dialogImage {
    width: 260px;
    height: 350px;
  }

  .pixabay_logo {
    display: none;
  }

  img.LOGO {
    width: 200px;
    margin-left: unset;
  }
}

.site_btn {
  border: none;
  background-color: transparent;
  width: 150px;
  height: 150px;
  padding: 0;
}

.logo_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
}

.header_site {
  background-color: #0a222c;
  height: 84px;
  box-shadow: 0px 4px 8px #000000;
}

.mypic {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  font-family: 'comic neue', sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LOGO {
  width: 285px;
  height: auto;
  margin-left: 10px;
}

.image_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.image_grid img {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  object-position: center;
  object-fit: cover;
}

.image_grid img:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.7);
  transform: rotate(360deg) scale(1.2);
  transition: all 0.3s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
}

.img_footer {
  width: 120px;
  object-fit: contain;
  padding-bottom: 3px;
}

.p_footer {
  display: block;
  color: #99cec8;
  font-family: 'comic neue', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 0.95;
}

.site_footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84px;
  background-color: #0a222c;
  box-shadow: 0px -4px 8px #000000;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}