@font-face {
  font-family: 'comic neue';
  src: url('Comic_Neue/ComicNeue-Bold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

main,
body,
html {
  height: 100%;
  background-color: #071820;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-content,
.site_footer,
.site-content,
.header_site body {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
}

/*myDialog*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0;
  padding-inline: 10px;
}
.pixabay_logo {
  width: 120px;
  height: auto;
  :hover {
    cursor: pointer;
  }
}

header button {
  display: contents;
  font-size: 24px;
}

.site-content {
  display: contents;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

h2 {
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 16px;
}

h3 {
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 24px;
}

.dialogImage {
  border-radius: 25px;
  width: 1000px;
  height: 720px;
  object-fit: cover;
  object-position: center;
}

dialog {
  position: fixed;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px;
  border: none;
  margin: auto;
}

dialog::backdrop {
  background-color: #0a222c;
  opacity: 0.9;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: mediumseagreen;
}

button:focus {
  outline-offset: 0;
  outline: none;
}

footer button {
  display: flex;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 54px;
  appearance: none;
  background: linear-gradient(to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dialogFoot {
  box-shadow: none;
  display: flex;
  align-items: center;
}

/*Site*/
@media (max-width:1410px) {

  .spanimg {
    padding-right: 50px;
    padding-left: 50px;
  }

  h1.mypic {
    font-size: 80px;
  }

  .site-content {
    padding-top: 120px;
  }
}

@media (max-width:1125px) {
  h1.mypic {
    font-size: 60px;
    /* margin-bottom: 64px; */
  }

  .dialogImage {
    width: 600px;
    height: 400px;
  }

  .spanimg img {
    width: 120px;
    height: 120px;
  }

  .spanimg {
    padding-right: 50px;
    padding-left: 50px;
    gap: 35px;
  }

}

@media (max-width:845px) {
  .dialogImage {
    width: 500px;
    height: 350px;
  }

  h1.mypic {
    font-size: 40px;
    margin-bottom: 64px;
  }

  .spanimg img {
    width: 100px;
    height: 100px;
  }

  .spanimg {
    padding-right: 20px;
    padding-left: 20px;
    gap: 25px;
  }

  .site-content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
}

@media (max-width:670px) {
  .dialogImage {
    width: 400px;
    height: 300px;
  }

  .site-content {
    margin-top: 80px;
    padding: 0;
  }

  .spanimg {

    gap: 35px;
  }
}

@media (max-width:500px) {
  .site-content {
    padding-top: 32px;
    margin: 0 auto;
  }

  .dialogImage {
    width: 250px;
    height: 200px;
  }

  h1.mypic {
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  img.LOGO{
    margin: unset;
  }
  .header_site {
    padding-left: 0;
  }
  .spanimg {
    margin-top: 32px;
    gap: 15px;
  }
}

.logo_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;

}

.header_site {
  background-color: #0a222c;
  height: 120px;
  box-shadow: 0px 4px 8px #000000;
  display: flex;
  align-items: center;
}


.mypic {
  font-family: 'comic neue', sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 64px;
  margin-top: 64px;
  background: linear-gradient(to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LOGO {
  width: 285px;
  height: auto;
  margin-left: 10px;
}

span {
  padding-right: 300px;
  padding-left: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

span img {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  object-position: center;
  object-fit: cover;
}

span img:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.7);
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
}

.img_footer {
  width: 140px;
  height: 75px;
  object-fit: contain;
}

.p_footer {
  display: block;
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 8px;
}

.site_footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #0a222c;
  box-shadow: 0px -4px 8px #000000;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}