* {
  padding: 0;
  margin: 0;
}

html,
main,
body {
  width: auto;
  height: 100%;
  background-color: #071820;
}

@font-face {
  font-family: 'comic neue';
  src: url('Comic_Neue/ComicNeue-Bold.ttf') format('truetype');
}

/*myDialog*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header button {
  display: contents;
  font-size: 24px;
}

h2 {
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 36px;
}

dialog {
  position: fixed;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px;
  border: none;
  margin: auto;
}

dialog::backdrop {
  background-color: #0a222c;
  opacity: 0.9;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: mediumseagreen;
}

button:focus {
  outline-offset: 0;
  outline: none;
}

footer button {
  display: flex;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 42px;
  appearance: none;
  color: white;
}


/*Site*/
@media (max-width:1410px) {
  img.LOGO {
    width: 264px;
    padding-left: 120px;
  }

  .spanimg {
    padding-right: 50px;
    padding-left: 50px;
  }

  h1.mypic {
    font-size: 80px;
    margin: 32px;
  }

}

@media (max-width:1072px) {
  h1.mypic {
    font-size: 60px;
    /* margin-bottom: 64px; */
  }

  .spanimg img {
    width: 100px;
    height: 100px;
  }

  .spanimg {
    padding-right: 50px;
    padding-left: 50px;
  }

  .site-content {
    display: contents;
  }

}

@media (max-width:845px) {
  img.LOGO {
    padding-left: 24px;
  }

  h1.mypic {
    font-size: 40px;
    margin-bottom: 64px;
  }

  .spanimg img {
    width: 80px;
    height: 80px;
  }

  .spanimg {
    padding-right: 20px;
    padding-left: 20px;
  }

  .site-content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:670px) {

  .site-content {
    margin-top: 80px;
    padding: 0;
  }
}

@media (max-width:500px) {
  .site-content {
    margin-top: 28px;
  }

  h1.mypic {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.header_site {
  background-color: #0a222c;
  height: 120px;
}

.mypic {
  font-family: 'comic neue', sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 64px;
  margin-top: 64px;
}

.LOGO {
  width: 285px;
  height: auto;
  object-fit: cover;
  object-position: center;
  padding-left: 200px;
}

img {
  border-radius: 20px;
  width: 700px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

span {
  padding-right: 200px;
  padding-left: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

span img {
  width: 150px;
  height: 150px;
  object-position: center;
  object-fit: cover;
}

span img:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9);
}

footer {
    display: flex;
    justify-content:space-evenly;
}

.img_footer {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.p_footer {
  display: block;
  color: white;
  font-family: 'comic neue', sans-serif;
  font-size: 8px;
}

.site_footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #0a222c;
}